{% extends "CupCakesBundle:Client:LayoutC.html.twig" %}
{% block containt %}
    <!-- Start Main -->
    <main>
        <div class="main-part">
            <!-- Start Breadcrumb Part -->
            <section class="breadcrumb-part" data-stellar-offset-parent="true" data-stellar-background-ratio="0.5" style="background-image: url('{{ asset('ClientTemplate/images/breadbg1.jpg') }}');">
                <div class="container">
                    <div class="breadcrumb-inner">
                        <h2>TRACK YOUR ORDER</h2>
                        <a href="#">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </section>
            <!-- End Breadcrumb Part -->
            <section class="home-icon shop-cart bg-skeen">
                <div class="icon-default icon-skeen">
                    <img src="{{ asset('ClientTemplate/images/scroll-arrow.png') }}" alt="" />
                </div>
                <div class="container">
                    <div class="checkout-wrap checkout-wrap-more wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <ul class="checkout-bar">
                            <li class="done-proceed">Mon Pannier</li>
                            <li class="done-proceed">Livraison</li>
                            <li class="done-proceed">Commande Complete</li>
                            <li class="active">Ma Commande</li>
                        </ul>
                    </div>
                    <div class="track-oder wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="track-oder-inner">
                            <div class="clock-track-icon">
                                <img src="{{ asset('ClientTemplate/images/clock-icon.png') }}" alt="" />
                            </div>
                            <div class="track-status">
                                <h3><span>Mes Commande:</span></h3>

                                        {% for line in LineCmd %}

                                <table>
                                    <tbody>
                                            <tr>{{ line.idCmd.id }}
                                                <td>
                                                    <div class="product-cart-title">
                                                        <span>{{ line.idProd.nomProd }}</span>
                                                    </div>
                                                </td>
                                                <th>Prix</th>
                                                <td>
                                                    <div class="product-cart-title">
                                                        <span class="pu">{{ line.idProd.prixProd }}</span>
                                                    </div>
                                                </td>
                                                <th>Quantité</th>
                                                <td>
                                                            {{ line.qteAcheter }}
                                                </td>
                                                <th>TOTAL</th>
                                                <td>
                                                    <span class="price">{{ line.idCmd.montantCmd }}</span>
                                                </td>
                                                <th>Etat Commande</th>
                                                <td>
                                                    {{ line.idCmd.etatLivCmd }}
                                                </td>
                                                <td>
                                                    <a href="{{ path('AjouterFeedback',{'id':line.idCmd.id}) }}">Feedback</a>
                                                </td>
                                                <td>
                                                    <span><a href="{{ path('Pdf',{'id' : line.idCmd.id }) }}">Pdf</a></span>
                                                </td>
                                            </tr>

                                        {% endfor %}
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- End Main -->

{% endblock %}