{% extends "CupCakesBundle:Client:LayoutC.html.twig" %}
{% block containt %}
    <!-- Start Main -->
    <main>
        <div class="main-part">
            <!-- Start Breadcrumb Part -->
            <section class="breadcrumb-part" data-stellar-offset-parent="true" data-stellar-background-ratio="0.5" style="background-image: url('{{ asset('ClientTemplate/images/breadbg1.jpg') }}');">
                <div class="container">
                    <div class="breadcrumb-inner">
                        <h2>SHOP</h2>
                        <a href="#">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </section>
            <!-- End Breadcrumb Part -->
            <section class="home-icon blog-main-section shop-page">
                <div class="icon-default">
                    <img src="{{ asset('ClientTemplate/images/scroll-arrow.png')}}" alt="" />
                </div>
                <div class="container">
                    <div class="portfolioFilter">
                        <div class="portfolioFilter-inner bg-skeen">
                            <a href="javascript:;" data-filter=".breakfast" class="current">BREAKFAST</a>
                            <a href="javascript:;" data-filter=".dessert">DESSERT</a>
                            <a href="javascript:;" data-filter=".dinner">DINNER</a>
                            <a href="javascript:;" data-filter=".freshfood">FRESHFOOD</a>
                            <a href="javascript:;" data-filter=".lunch">LUNCH</a>
                        </div>
                    </div>
                    <div class="portfolioContainer row" data-defaultfilter=".breakfast">
                        <div class="col-md-3 col-sm-4 col-xs-12 breakfast dessert dinner wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="shop-main-list">
                                <div class="shop-product">
                                    <img src="{{ asset('ClientTemplate/images/img56.png')}}" alt="" />
                                    <div class="cart-overlay-wrap">
                                        <div class="cart-overlay">
                                            <a href="#" class="shop-cart-btn">ADD TO CART</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#"><h5>Paper Pouch</h5></a>
                                <h5><strong>$ 15.00</strong></h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 breakfast dinner lunch wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="shop-main-list">
                                <div class="shop-product">
                                    <img src="{{ asset('ClientTemplate/images/img57.png')}}" alt="" />
                                    <div class="cart-overlay-wrap">
                                        <div class="cart-overlay">
                                            <a href="#" class="shop-cart-btn">ADD TO CART</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#"><h5>Paper Pouch</h5></a>
                                <h5><strong>$ 15.00</strong></h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 breakfast dessert wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="shop-main-list">
                                <div class="shop-product">
                                    <img src="{{ asset('ClientTemplate/images/img58.png')}}" alt="" />
                                    <div class="cart-overlay-wrap">
                                        <div class="cart-overlay">
                                            <a href="#" class="shop-cart-btn">ADD TO CART</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#"><h5>Paper Pouch</h5></a>
                                <h5><strong>$ 15.00</strong></h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 breakfast dinner wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="shop-main-list">
                                <div class="shop-product">
                                    <img src="{{ asset('ClientTemplate/images/img59.png')}}" alt="" />
                                    <div class="cart-overlay-wrap">
                                        <div class="cart-overlay">
                                            <a href="#" class="shop-cart-btn">ADD TO CART</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#"><h5>Paper Pouch</h5></a>
                                <h5><strong>$ 15.00</strong></h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 breakfast freshfood wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="shop-main-list">
                                <div class="shop-product">
                                    <img src="{{ asset('ClientTemplate/images/img60.png')}}" alt="" />
                                    <div class="cart-overlay-wrap">
                                        <div class="cart-overlay">
                                            <a href="#" class="shop-cart-btn">ADD TO CART</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#"><h5>Paper Pouch</h5></a>
                                <h5><strong>$ 15.00</strong></h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 breakfast lunch wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="shop-main-list">
                                <div class="shop-product">
                                    <img src="{{ asset('ClientTemplate/images/img61.png')}}" alt="" />
                                    <div class="cart-overlay-wrap">
                                        <div class="cart-overlay">
                                            <a href="#" class="shop-cart-btn">ADD TO CART</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#"><h5>Paper Pouch</h5></a>
                                <h5><strong>$ 15.00</strong></h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 breakfast freshfood wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="shop-main-list">
                                <div class="shop-product">
                                    <img src="{{ asset('ClientTemplate/images/img62.png')}}" alt="" />
                                    <div class="cart-overlay-wrap">
                                        <div class="cart-overlay">
                                            <a href="#" class="shop-cart-btn">ADD TO CART</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#"><h5>Paper Pouch</h5></a>
                                <h5><strong>$ 15.00</strong></h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 breakfast lunch wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="shop-main-list">
                                <div class="shop-product">
                                    <img src="{{ asset('ClientTemplate/images/img63.png')}}" alt="" />
                                    <div class="cart-overlay-wrap">
                                        <div class="cart-overlay">
                                            <a href="#" class="shop-cart-btn">ADD TO CART</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#"><h5>Paper Pouch</h5></a>
                                <h5><strong>$ 15.00</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-pagination">
                        <div class="gallery-pagination-inner">
                            <ul>
                                <li><a href="#" class="pagination-prev"><i class="fa fa-arrow-left" aria-hidden="true"></i> <span>PREV page</span></a></li>
                                <li class="active"><a href="#"><span>1</span></a></li>
                                <li><a href="#"><span>2</span></a></li>
                                <li><a href="#"><span>3</span></a></li>
                                <li><a href="#" class="pagination-next"><span>next page</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- End Main -->

{% endblock %}