{% extends "::layout.html.twig" %}
{% block containt %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Liste Des Commandes</h4>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped">
                                <thead>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Montant</th>
                                <th>Etat</th>
                                <th>Date Livraison</th>
                                <th>Etat Livraison</th>
                                <th>Mise a jour</th>
                                </thead>
                                {% for commande in Commandes %}
                                <tbody>
                                <tr>
                                    <td>{{ commande.id }}</td>
                                    <td>{{ commande.dateCmd| date }}</td>
                                    <td>{{ commande.montantCmd }}</td>
                                    <td>{{ commande.etatCmd }}</td>
                                    <td>{{ commande.dateLivCmd| date }}</td>
                                    <td>{{ commande.etatLivCmd }}</td>
                                    <td><a href="{{ path('ModificationEtat',{'id':commande.id}) }}">Modifier etat</a></td>

                                </tr>

                                </tbody>
                                {% endfor %}
                            </table>

                        </div>
                    </div>
                </div>

{% endblock %}